<html>
<body>
{{> header}} <br>

<form action="input-books" method="post">
    <input type="text" placeholder="Title" name="title" />
    <input type="text" placeholder="Author" name="author" />
    <input type="number" placeholder="Quantity" name="qty" />
    <select name="type">
        <option value="Fiction">Fiction</option>
        <option value="Non-Fiction">Non-Fiction</option>
    </select>
    <button type="submit">Submit</button>
</form>
{{#books}}
{{id}}. <a href="/book?id={{id}}">{{title}} by {{author}}</a>
        <a href="/edit-book?id={{id}}">Edit</a>
    <form action="/edit-book?id={{id}}" method="get">
        <button type="submit">Edit</button>
    </form>
    <form action="/delete-book?id={{id}}" method="post">
        <button type="submit">Delete</button>
    </form> <br>
{{/books}}
</body>
</html>